
  <div class="favorites-cards-container"></div>

  <div class="favorites-empty-container hidden-empty">
    <svg class="favorites-empty-container-logo" width="68" height="58">
      <use href="./img/sprite.svg#icon-empty-favorits"></use>
    </svg>
    <p class="favorites-empty-container-text">
      It appears that you haven't added any recipes to your favorites yet. To
      get started, you can add recipes that you like to your favorites for
      easier access in the future.
    </p>
  </div>
</section>
