<section class="section-hero container">
  <div class="hero-block-texts">
    <h1 class="hero-block-text-title">
      Learn to Cook
      <span class="hero-words">Tasty Treats' </span> Customizable Masterclass
    </h1>
    <p class="hero-block-text">
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>
    <button class="hero-btn btn" type="button">Order now</button>
  </div>
  <div class="swiper swiper-hero">
    <div class="swiper-wrapper swiper-wrapper-hero"></div>
    <div class="swiper-pagination swiper-pagination-hero"></div>
  </div>
</section>
