<section class="section-hero">
  <div class="hero-container">
    <div class="left-side">
      <h1 class="hero-title">
        Learn to Cook
        <span class="hero-words"> Tasty Treats'</span> Customizable Masterclass
      </h1>
      <p class="hero-text">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button class="btn" type="button">Order now</button>
    </div>
    <div class="right-side">
      <!-- Slider main container -->
      <div class="swiper js-hero-slider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->

          <!-- <div class="swiper-slide">
            <div class="chef">
              <img
                class="chef-photo"
                src="${cook.imgWebpUrl}"
                alt="img/webp"
                width="412"
                height="588"
              />
              <img
                class="chef-photo"
                src="${cook.imgUrl}"
                alt="img/png"
                width="351"
                height="422"
              />
            </div>
            <div class="dish">
              <img
                class="dish-photo"
                src="${topic.imgWebpUrl}"
                alt="img/webp"
                width="412"
                height="588"
              />
              <img
                class="dish-photo"
                src="${topic.imgUrl}"
                alt="img/png"
                width="351"
                height="422"
              />
              <h2 class="dish-title">${topic.name}</h2>
              <p class="dish-origin">${topic.area}</p>
            </div>
            <div class="card">
              <img
                class="card-photo"
                src="${topic.previewWebpUrl}"
                alt="img/webp"
                width="412"
                height="588"
              />
              <img
                class="card-photo"
                src="${topic.previewUrl}"
                alt="img/png"
                width="351"
                height="422"
              />
            </div>
          </div>
        </div> -->

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
