<section>
  <!--Modal menu---->
  <div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button type="button" class="btn-modal-close" data-modal-close>
        <svg class="icon-close" width="24" height="24">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="title-modal">ORDER NOW</h2>

      <!-- Modal menu form-->
      <form class="callback-form" name="callback-form">
        <div class="callback-form-inputs">
          <!-- Name -->
          <div class="modal-field">
            <label class="label-title" for="buyer-name">Name</label>
            <input
              class="modal-input"
              type="text"
              placeholder="Enter your name"
              required
              pattern="[A-Za-zA-Яа-я]+$"
              title="Please enter a valid name using only letters."
              minlength="2"
              autofocus
              id="buyer-name"
            />
          </div>
          <!-- Phone number -->
          <div class="modal-field">
            <label class="label-title" for="phone">Phone number</label>
            <input
              class="modal-input"
              placeholder="+380000000000"
              type="tel"
              id="buyer-phone"
              name="phone"
              pattern="\+38[0-9]{10}"
              title="Please enter a valid phone number starting with +38 followed by 10 digits."
              required
            />
          </div>
          <!--Email-->
          <div class="modal-field">
            <label class="label-title" for="buyer-email">Email</label>
            <input
              class="modal-input"
              type="email"
              placeholder="Enter your email"
              id="buyer-email"
              type="email"
              name="email"
              pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
              title="Please enter a valid email address (e.g. example@example.com)."
              required
            />
          </div>
          <!-- Comments-->
          <div class="modal-field">
            <label class="label-title" for="buyer-comment">Comments</label>
            <textarea
              class="form-comment modal-input"
              placeholder="Enter your text"
              id="buyer-comment"
            ></textarea>
          </div>
        </div>
        <div class="order">
          <!--Send button-->
          <button class="send-btn" type="submit">Send</button>
          <!--That nobody read-->
          <span class="info-text"
            >By clicking on “Send message” button, you agree to our
            <a href="https://privacy.microsoft.com/en-us" class="link-license"
              >Privacy Policy</a
            >
            , and allow Promodo to use this information for marketing
            purposes.</span
          >
        </div>
      </form>
    </div>
  </div>
</section>
