<section class="recipes">
  <div class="recipe-container">
    <ul class=" recipe-list">
      <li class="recipe-list-item recipe-card">
        <img src="https://www.themealdb.com/images/media/meals/wvqpwt1468339226.jpg" alt="Mediterranean Pasta Salad">
    <div class="recipe-info">
        <h2 class="recipe-title">Mediterranean Pasta Salad</h2>
        <p class="recipe-description">A salad made with pasta, vegetables (such as tomatoes, cucumbers, and olives), feta cheese, and a dressing made with olive oil and lemon juice.</p>
        <div class = "recipe-rating-btn-cover">
        <p class="recipe-rating">4.02</p>
        <button class="recipe-card-btn">See recipe</button>
        </div>
      </li>

      <li class="recipe-list-item recipe-card">
        <img src="https://www.themealdb.com/images/media/meals/wvqpwt1468339226.jpg" alt="Mediterranean Pasta Salad">
    <div class="recipe-info">
        <h2 class="recipe-title">Mediterranean Pasta Salad</h2>
        <p class="recipe-description">A salad made with pasta, vegetables (such as tomatoes, cucumbers, and olives), feta cheese, and a dressing made with olive oil and lemon juice.</p>
        <div class = "recipe-rating-btn-cover">
        <p class="recipe-rating">4.02</p>
        <button class="recipe-card-btn">See recipe</button>
        </div>
      </li>

      <li class="recipe-list-item recipe-card">
        <img src="https://www.themealdb.com/images/media/meals/wvqpwt1468339226.jpg" alt="Mediterranean Pasta Salad">
    <div class="recipe-info">
        <h2 class="recipe-title">Mediterranean Pasta Salad</h2>
        <p class="recipe-description">A salad made with pasta, vegetables (such as tomatoes, cucumbers, and olives), feta cheese, and a dressing made with olive oil and lemon juice.</p>
        <div class = "recipe-rating-btn-cover">
        <p class="recipe-rating">4.02</p>
        <button class="recipe-card-btn">See recipe</button>
        </div>
      </li>

      <li class="recipe-list-item recipe-card">
        <img src="https://www.themealdb.com/images/media/meals/wvqpwt1468339226.jpg" alt="Mediterranean Pasta Salad">
    <div class="recipe-info">
        <h2 class="recipe-title">Mediterranean Pasta Salad</h2>
        <p class="recipe-description">A salad made with pasta, vegetables (such as tomatoes, cucumbers, and olives), feta cheese, and a dressing made with olive oil and lemon juice.</p>
        <div class = "recipe-rating-btn-cover">
        <p class="recipe-rating">4.02</p>
        <button class="recipe-card-btn">See recipe</button>
        </div>
      </li>


      
    </ul>
  </div>
</section>
