<section class="recipes">
  <div class="filters-container">
    <form class="filter-form">
      <!-- <div class="search-container"> -->
        <label for="recipe-input">Search</label>
        <div class="input-wrapper">
          <svg class="search-icon" width="18" height="18">
            <use href="./img/sprite.svg#icon-search"></use>
          </svg>
          <input
            type="text"
            class="js-search-recipe search-recipe"
            placeholder="Enter Text"
          />
        <!-- </div> -->
      </div>

      <!-- <div class="select-wrapper"> -->
        <label for="select">Time
          <select class="time-select"></select>
        </label>

        <label for="select">Area
          <select class="area-select"></select>
        </label>

        <label for="select">Ingredients
          <select class="ingredient-select"></select>
        </label>

      <!-- </div> -->
    </form>

    <div class="reset-btn-container">
      <!-- <svg class="x-icon" width="18" height="18">
        <use href="./img/sprite.svg#icon-x"></use>
      </svg> -->
      <button class="reset-filters-btn js-reset-filters-btn">
        Reset the filters
      </button>
    </div>
  </div>

  <div class="recipe-container">
    <ul class="recipe-list"></ul>
    <div class="recipes-guard"></div>
  </div>
</section>
