body {
  font-family: 'Inter';
  background-color: var(--color-page-bcg);
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.off-scroll {
  overflow-y: hidden;
}

.is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn {
  min-width: 128px;
  min-height: 32px;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--color-button-text);

  border-radius: 15px;
  border: 1px solid var(--color-button-card-bcg);
  background-color: var(--color-button-bcg);
}

.btn:hover,
.btn:focus {
  color: var(--color-hover-text);
  background-color: var(--color-hover-bcg);
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}
