body {
  font-family: 'Inter';
  background-color: var(--color-page-bcg);
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}
