/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./fonts.css');
@import '../../node_modules/modern-normalize/modern-normalize.css';
@import url('../../node_modules/slim-select/dist/slimselect.css');
@import url(../../node_modules/swiper/swiper-bundle.css);
@import url('../../node_modules/pretty-checkbox/dist/pretty-checkbox.min.css');
@import url('../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css');
@import url('../../node_modules/@fortawesome/fontawesome-free/css/solid.min.css');
@import url('./reset.css');
@import url('./common.css');
@import url('./section/section-main.css');
@import url('./section/sidebar.css');
@import url('./section/header.css');
@import url('./section/hero.css');
@import url('./section/hero-swiper.css');
@import url('./section/all-categories.css');
@import url('./section/popular.css');
@import url('./section/filters.css');
@import url('./section/recipes.css');
@import url('./spinner.css');
@import url('./section/modal-recipe.css');
@import url('./section/modal-rating.css');
@import url('./section/order-now.css');
@import url('./up-button.css');
@import url('./section/favorites.css');

:root {
  /* ---------------element colors-----------------  */

  /* background */
  --color-page-bcg: rgb(248, 248, 248, 100%);
  --color-element-bcg: rgb(5, 5, 5, 100%);
  --color-menu-mobile-bcg: rgb(155, 181, 55, 100%);
  --color-swiper-bcg: rgb(5, 5, 5, 100%);

  /* text */
  --color-title-text: rgb(5, 5, 5, 100%);
  --color-green-title-text: rgb(155, 181, 55, 100%);
  --color-poprecipe-text: rgb(5, 5, 5, 80%);

  /* cards */
  --color-card-hero-text: rgb(248, 248, 248, 60%);
  --color-card-text: rgb(248, 248, 248, 100%);

  /* filter */
  --color-selector-text: rgb(5, 5, 5, 50%);
  --color-selector-categ-text: rgb(5, 5, 5, 30%);
  --color-selector-categ: rgb(5, 5, 5, 20%);

  /* switch */
  --color-switch-bcg: rgb(205, 205, 205, 100%);

  /* button */
  --color-button-text: rgb(5, 5, 5, 100%);
  --color-button-bcg: rgb(248, 248, 248, 100%);
  --color-button-card-bcg: rgb(155, 181, 55, 100%);

  /* rating */
  --color-rating-bcg: rgb(238, 161, 12, 100%);

  /* hover and select color */
  --color-hover-bcg: rgb(155, 181, 55, 100%);
  --color-hover-text: rgb(5, 5, 5, 100%);
  --color-selector-check: rgb(5, 5, 5, 100%);
  --color-select-open-bcg: rgb(255, 255, 255, 100%);

  /* modal recipe */
  --color-modal-recipe-backdrop: rgb(5, 5, 5, 30%);
  --color-modal-recipe-close-btn: rgb(5, 5, 5, 100%);
  --color-modal-recipe-backdground: rgb(255, 255, 255, 100%);
  --color-modal-recipe-tags: rgb(5, 5, 5, 100%);
  --color-modal-recipe-tags-border: rgb(5, 5, 5, 20%);
  --color-modal-recipe-rating-text: rgb(5, 5, 5, 50%);
  --color-modal-recipe-ing-text: rgb(5, 5, 5, 100%);
  --color-modal-recipe-placeholder: rgb(5, 5, 5, 10%);
  --color-modal-recipe-text: rgb(5, 5, 5, 80%);

  /* order now  modal */
  --color-close-icon: rgb(5, 5, 5, 20%);

  /* Swiper */
  --color-swiper-pagination-bcg: rgba(0, 0, 0, 0.4);
  /* ---------------animation --------------------------*/

  /* mobile-menu */
  --color-mob-menu-bgc: rgb(155, 181, 55, 100%);
  --color-mob-menu-el: rgb(248, 248, 248, 100%);
  --color-mob-menu-el-hover: rgb(5, 5, 5, 100%);

  /* Transition */
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* shadow */
  --reviews-card-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
}

[dark] {
  /* text */
  --color-page-bcg: rgb(22, 22, 22, 100%);
  --color-element-bcg: rgb(255, 255, 255, 100%);
  --color-title-text: rgb(255, 255, 255, 100%);
  --color-button-bcg: rgb(30, 30, 30, 100%);
  --color-button-text: rgb(255, 255, 255, 100%);
  --color-selector-text: rgb(255, 255, 255, 50%);
  --color-selector-check: rgb(255, 255, 255, 100%);
  --color-select-open-bcg: rgb(5, 5, 5, 100%);
  --color-selector-categ-text: rgb(255, 255, 255, 30%);
  --color-selector-categ: rgb(255, 255, 255, 20%);
  --color-poprecipe-text: rgb(255, 255, 255, 80%);

  /* order now  modal */
  --color-close-icon: rgb(255, 255, 255);

  /* swiper */
  --color-swiper-pagination-bcg: rgb(255, 255, 255);
  --color-poprecipe-text: rgb(255, 255, 255, 80%);

  /* mobile-menu */
  --color-mob-menu-bgc: rgb(5, 5, 5, 100%);
  --color-mob-menu-el: rgb(248, 248, 248, 100%);
  --color-mob-menu-el-hover: rgb(155, 181, 55, 100%);

  /* modal recipe */
  --color-modal-recipe-backdrop: rgb(255, 255, 255, 30%);
  --color-modal-recipe-close-btn: rgb(255, 255, 255, 100%);
  --color-modal-recipe-backdground: rgb(5, 5, 5, 100%);
  --color-modal-recipe-tags: rgb(255, 255, 255, 100%);
  --color-modal-recipe-tags-border: rgb(255, 255, 255, 20%);
  --color-modal-recipe-rating-text: rgb(255, 255, 255, 50%);
  --color-modal-recipe-ing-text: rgb(255, 255, 255, 100%);
  --color-modal-recipe-placeholder: rgb(255, 255, 255, 10%);
  --color-modal-recipe-text: rgb(255, 255, 255, 80%);
}
