.all-categories {
  padding: 0 9px 20px 0;
}

.all-categories-btn {
  padding: 13px 28px;
  border-radius: 15px;
  text-wrap: nowrap;

  font-size: 18px;

  color: var(--color-selector-text);
  background-color: var(--color-page-bcg);
  border-color: var(--color-selector-categ);

  transition: color var(--transition-dur-func),
    background-color var(--transition-dur-func),
    border-color var(--transition-dur-func);
}

.all-categories-btn:hover,
.recipe-card-btn:focus {
  color: var(--color-card-text);
  background-color: var(--color-hover-bcg);
  border-color: var(--color-hover-bcg);
}

.all-categories-btn.selected-category {
  color: var(--color-card-text);
  background-color: var(--color-hover-bcg);
  border-color: var(--color-hover-bcg);
}

.all-categories-list {
  height: 198px;
  margin-top: 24px;
  overflow-y: scroll;
  background-color: transparent;
}

.all-categories-item {
  display: flex;
  justify-content: left;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 0;
  width: 100%;
  border: none;
  background-color: transparent;

  font-size: 14px;
  line-height: 18px;
  color: var(--color-selector-categ-text);
  transition: color var(--transition-dur-func);

  cursor: pointer;
}

.all-categories-item:hover,
.selected-category {
  color: var(--color-hover-bcg);
}


@media only screen and (min-width: 768px) {
  .all-categories {
    padding: 0 0 32px 0;
  }

  .all-categories-btn {
    padding: 14px 29px;
  }

  .all-categories-list {
    height: 416px;
    margin-top: 30px;
  }

  .all-categories-list {
    margin-top: 42px;
  }

  .all-categories-item {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
  }
}
