/* Тимчасові стилі, просто для візуалізації секції */

.all-categories {
  /* outline: 1px solid blue; */
  padding-top: 40px;
}
@media only screen and (min-width: 768px) {
  .all-categories {
    padding-top: 26px;
  }
}

/* Дивна поведінка click */
.all-categories-btn {
  padding: 14px 29px;
  border-radius: 15px;

  font-size: 16px;

  color: var(--color-selector-text);
  background-color: var(--color-page-bcg);
  border-color: var(--color-selector-categ);

  transition: color var(--transition-dur-func),
    background-color var(--transition-dur-func),
    border-color var(--transition-dur-func);
  transition: color var(--transition-dur-func), background-color var(--transition-dur-func), border-color var(--transition-dur-func);

}

.all-categories-btn:hover,
.recipe-card-btn:focus {
  color: var(--color-card-text);
  background-color: var(--color-hover-bcg);
  border-color: var(--color-hover-bcg);
}

.all-categories-list {
  /* outline: 1px solid tomato; */
  height: 200px;
  margin-top: 24px;
  overflow-y: scroll;
}

.all-categories-item {
  padding: 9px 0;

  font-size: 16px;
  color: var(--color-selector-categ-text);
  transition: color var(--transition-dur-func);

  cursor: pointer;
}

.all-categories-item:hover,
.selected-category {
  color: var(--color-hover-bcg);
}
