/* Тимчасові стилі, просто для візуалізації секції */

.all-categories {
  /* outline: 1px solid red; */
  padding: 40px 9px 20px 0;
  min-width: 335px;
}
@media screen and (min-width: 768px) {
  .all-categories {
    padding: 53px 16px 32px 0;
    min-width: 192px;
    width: 192px;
  }
}

@media screen and (min-width: 1280px) {
  .all-categories {
    padding: 63px 32px 32px 0px;
    width: 267px;
  }
}

/* Дивна поведінка click */
.all-categories-btn {
  padding: 14px 28px;
  border-radius: 15px;

  font-size: 18px;

  color: var(--color-selector-text);
  background-color: var(--color-page-bcg);
  border-color: var(--color-selector-categ);

  transition: color var(--transition-dur-func),
    background-color var(--transition-dur-func),
    border-color var(--transition-dur-func);
}

.all-categories-btn:hover,
.all-categories-btn:focus,
.recipe-card-btn:focus {
  color: var(--color-card-text);
  background-color: var(--color-hover-bcg);
  border-color: var(--color-hover-bcg);
}

@media screen and (min-width: 1280px) {
  .all-categories-btn {
    padding: 14px 28px;
  }
}

.all-categories-list {
  /* outline: 1px solid tomato; */
  height: 198px;
  margin-top: 24px;
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .all-categories-list {
    height: 416px;
    margin-top: 30px
  }
}

@media screen and (min-width: 768px) {
  .all-categories-list {
    margin-top: 42px;
  }
}

.all-categories-item {
  padding: 9px 0;

  font-size: 14px;
  line-height: 18px;
  color: var(--color-selector-categ-text);
  transition: color var(--transition-dur-func);

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .all-categories-item {
    font-size: 16px;
    line-height: 20px;
  }
}

.all-categories-item:hover,
.selected-category {
  color: var(--color-hover-bcg);
}
