.favorites-hero {
  padding-top: 516px;

  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../../img/favorites/hero-favorites-mobile.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

@media only screen and (min-width: 768px) {
  .favorites-hero {
    padding-top: 356px;

    max-width: 704px;

    background-image: url('../../img/favorites/hero-favorites-tablet.jpg');
  }
}

@media only screen and (min-width: 1200px) {
  .favorites-hero {
    max-width: 1016px;

    background-image: url('../../img/favorites/hero-favorites-tablet.jpg');
  }
}

.favorites-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 24px;
}

.favorites-cards-filter {
  position: relative;
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 12px;
  padding-bottom: 9px;

  margin-top: 40px;
  margin-bottom: 24px;
}

.favorites-cards-container .recipe-heart-icon {
  fill: rgba(248, 248, 248, 0.9);
}

@media only screen and (min-width: 768px) {
  .favorites-cards-container {
    gap: 32px 16px;
  }

  .favorites-cards-container .js-recipe {
    width: calc((100% - 32px) / 3);
  }

  .favorites-cards-filter {
    gap: 15px;
    margin-top: 64px;
  }
}

@media only screen and (min-width: 1200px) {
  .favorites-cards-container .js-recipe {
    width: calc((100% - 48px) / 4);
  }
}

.btn-favorites-filter {
  min-width: max-content;
  height: 46px;
  padding: 14px 18px;

  color: var(--color-selector-categ-text);
  border: 1px solid var(--color-selector-categ);
}

.btn-favorites-filter-active {
  background-color: var(--color-hover-bcg);
  color: var(--color-button-bcg);
}

.btn-favorites-filter:hover,
.btn-favorites-filter:focus {
  color: var(--color-button-bcg);
}

.favorites-empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 120px);
}

.favorites-empty-container-text {
  display: block;
  text-align: center;
}

.favorites-empty-container-logo {
  display: block;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .favorites-empty-container-text {
    display: block;
    max-width: 480px;
    text-align: center;
  }

  .favorites-empty-container-logo {
    display: block;
    margin-bottom: 36px;
  }

  .favorites-empty-container {
    height: 100%;
  }
}

.hidden-empty {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  animation-name: filter;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes filter {
  to {
    height: 0;
    width: 0;
  }
}
