.header-container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.header-pages {
  display: none;
}

.header-title {
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.13;
  letter-spacing: -0.04em;
  color: var(--color-title-text);
  scale: 1;
  transition: color var(--transition-dur-func), scale var(--transition-dur-func);

  .header-title-span {
    color: var(--color-green-title-text);
    transition: color var(--transition-dur-func);
  }
}

.header-title:hover {
  color: var(--color-green-title-text);
  scale: 1.05;

  .header-title-span {
    color: var(--color-title-text);
  }
}

.header-buttons-list {
  position: relative;
  display: flex;
  gap: 7px;
  align-items: center;
  margin-right: -7px;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}

.header-button-icon {
  fill: var(--color-title-text);
  transition: fill var(--transition-dur-func);
}

.header-button:hover,
.header-button:focus {
  .header-button-icon {
    fill: var(--color-green-title-text);
  }
}

/* ======================================================= */

.mobile-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 53%;
  height: 100%;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform var(--transition-dur-func);
  background-color: var(--color-mob-menu-bgc);
}

.mobile-menu-is-open {
  transform: translateX(0);
  transition: transform var(--transition-dur-func);
}

.mobile-menu-close {
  display: block;
  margin: 20px 20px auto auto;
}

.mobile-menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
}

.mobile-menu-close-icon {
  fill: var(--color-mob-menu-el);
  transition: fill var(--transition-dur-func);
}

.mobile-menu-close-btn:hover {
  .mobile-menu-close-icon {
    fill: var(--color-mob-menu-el-hover);
  }
}

.mobile-menu-pages {
  margin-left: auto;
  margin-right: auto;
  margin-top: 148px;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.mobile-menu-item {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0em;
  color: var(--color-mob-menu-el);
  transition: color var(--transition-dur-func);
}

.mobile-menu-item:hover {
  font-weight: 500;
  color: var(--color-mob-menu-el-hover);
}

.theme-switcher {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .header-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-pages {
    display: flex;
    min-width: 103px;
    align-items: center;
    justify-content: space-between;
  }

  .header-pages-item {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: auto;
    letter-spacing: 0em;
    color: var(--color-title-text);
    transition: color var(--transition-dur-func);
  }

  .header-pages-item:hover,
  .header-pages-item:focus {
    font-weight: 500;
    color: var(--color-green-title-text);
  }

  .header-pages-link {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .current-page {
    font-weight: 500;
    color: var(--color-green-title-text);
  }

  .header-title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.11;
    letter-spacing: -0.04em;
  }

  .header-buttons-list {
    gap: 18px;
    margin-right: 0;
    position: relative;
  }

  .basket {
    margin-right: 44px;
  }

  .burger-menu {
    display: none;
  }

  .mobile-menu-container {
  position: static;
    width: 0;
    height: 0;
  }

  .mobile-menu-close,
  .mobile-menu-pages {
    display: none;
  }


  .theme-switcher {
    left: -33px;
   bottom: -10px;
  }
}

@media only screen and (min-width: 1280px) {
  .header-buttons-list {
    gap: 24px;
  }
}

.pretty.p-switch.p-fill input:checked~.state:before {
  background-color: tomato;
}

.pretty.p-switch.p-fill input:checked~.state:before {
  color: tomato;
  background-color: tomato;
}

.pretty.p-switch .state label {
  color: tomato;
  background-color: tomato!important;
}

sass {

}
