.section-hero {
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 48px;

  padding-top: 65px;
  padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .section-hero {
    gap: 64px;
    padding-top: 71px;
  }
}

@media only screen and (min-width: 1280px) {
  .section-hero {
    flex-direction: row;
    padding-top: 78px;
    padding-bottom: 50px;
    gap: 32px;
  }
}

.hero-information {
  width: 335px;
}

@media only screen and (min-width: 768px) {
  .hero-information {
    min-width: 446px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-information {
    padding-top: 64px;
  }
}

.hero-text {
  margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
  .hero-text {
    margin-bottom: 32px;
  }
}

.hero-title {
  margin-bottom: 14px;

  font-size: 26px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-title-text);
}

@media only screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 16px;
    font-size: 36px;
  }
}

.hero-accent {
  font-size: 26px;
  font-style: italic;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-green-title-text);
}

@media only screen and (min-width: 768px) {
  .hero-accent {
    font-size: 36px;
  }
}

.hero-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: var(--color-title-text);
}

@media only screen and (min-width: 768px) {
  .hero-description {
    width: 408px;
    font-size: 16px;
    line-height: 1.33;
  }
}

.hero-btn {
  padding: 10px 20px;
  border-radius: 12px;
  transition: color var(--transition-dur-func),
    background-color var(--transition-dur-func);
}

@media only screen and (min-width: 768px) {
  .hero-btn {
    padding: 14px 28px;
    border-radius: 15px;
  }
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--color-card-text);
  background-color: var(--color-hover-bcg);
}

/* ======================================================= */

/* slider styles  */
.hero-swiper {
  outline: 2px solid tomato;
  background-color: aqua;
  display: flex;
  flex-wrap: nowrap;
  height: 302px;
  width: 496px;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  .hero-swiper {
    width: 871px;
    height: 468px;
  }
}

.hero-swiper-wrapper {
  height: 280px;
}

@media only screen and (min-width: 768px) {
  .hero-swiper-wrapper {
    height: 442px;
  }
}

/* ======================================================= */

.swiper-slide {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  width: 496px;
  height: 280px;
}

.slide-cook {
  width: 80px;
  height: 280px;
  background-color: var(--color-element-bcg);
  border-radius: 15px;
  overflow: hidden;
}

.slide-cook-img {
  height: 280px;
  object-position: 45% 55%;
  object-fit: cover;
}

.swiper-slide:first-child {
  .slide-cook-img {
    height: 300px;
    object-position: 45% 10px;
  }
}

.slide-topic {
  width: 200px;
  height: 280px;
  padding: 56px 22px 22px 22px;
  border-radius: 15px;
  background-image: url('../../img/hero/glow-for-topic-mob.webp'),
    url('../../img/hero/bgc-topic-mob.svg');
}

.slide-topic-pic {
  outline: 2px solid tomato;
  height: 150px;
  width: 150px;
}

.slide-topic-img {
  object-fit: cover;
  object-position: center;
}

.slide-topic-info {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
  justify-content: center;
  gap: 8px;
  text-align: center;
}

.slide-topic-name {
  width: 100%;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--color-card-hero-text);
}

.slide-topic-area {
  font-size: 8px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(248, 248, 248, 20%);
}

.slide-dish {
  width: 222px;
  height: 280px;
  background-color: var(--color-element-bcg);
  border-radius: 15px;
  overflow: hidden;
}

.slide-dish-img {
  height: 280px;
  object-position: 15% 10px;
  overflow: hidden;
  object-fit: cover;
}

.swiper-slide:nth-child(n + 2) {
  .slide-dish-img {
    height: 550px;
    width: auto;
    object-fit: cover;
    object-position: 30% -120px;
  }
}

.swiper-slide:nth-child(n + 3) {
  .slide-dish-img {
    height: 520px;
    width: auto;
    object-fit: cover;
    object-position: 45% -130px;
  }
}

/* ======================================================= */

@media only screen and (min-width: 768px) {
  .swiper-slide {
    gap: 16px;
    width: 871px;
    height: 442px;
  }

  .slide-cook {
    width: 137px;
    height: 442px;
  }

  .slide-cook-img {
    height: 442px;
    object-position: 45% 55%;
    object-fit: cover;
  }

  .swiper-slide:first-child {
    .slide-cook-img {
      height: 480px;
    }
  }

  .slide-topic {
    width: 351px;
    height: 442px;
    margin-top: auto;

    background-image: url('../../img/hero/glow-for-topic-tab.webp'),
      url('../../img/hero/bgc-topic-tab.svg');
  }

  .slide-topic-pic {
    outline: 2px solid tomato;
    margin-left: auto;
    margin-right: auto;
    height: 276px;
    width:276px;
  }

  .slide-topic-img {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: auto;
  }

  .slide-topic-info {
    padding-top: 32px;
    padding-bottom: 14px;
    text-align: center;
  }

  .slide-topic-name {
    font-size: 14px;
    text-wrap: nowrap;
    font-weight: 500;
    line-height: 1.29;
    text-transform: uppercase;
    color: var(--color-card-hero-text);
  }

  .slide-topic-area {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    color: rgb(248, 248, 248, 20%);
  }

  .slide-dish {
    width: 351px;
    height: 442px;
  }

  .slide-dish-img {
    height: 442px;
    object-position: 15%;
    overflow: hidden;
    object-fit: cover;
  }

  .swiper-slide:nth-child(n + 2) {
    .slide-dish-img {
      height: 650px;
      width: auto;
      object-fit: cover;
      object-position: 36% -110px;
    }
  }

  .swiper-slide:nth-child(n + 3) {
    .slide-dish-img {
      height: 750px;
      width: auto;
      object-fit: cover;
      object-position: 40% -130px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .swiper-slide {
    gap: 16px;
    width: 871px;
    height: 442px;
  }

   .slide-cook {
    width: 137px;
    height: 442px;
  }

  .slide-cook-img {
    height: 442px;
    object-position: 45% 55%;
    object-fit: cover;
  }

  .swiper-slide:first-child {
    .slide-cook-img {
      height: 480px;
    }
  }

  .slide-topic {
    width: 351px;
    height: 442px;
    margin-top: auto;

    background-image: url('../../img/hero/glow-for-topic-tab.webp'),
      url('../../img/hero/bgc-topic-tab.svg');
  }

  .slide-topic-pic {
    outline: 2px solid tomato;
    margin-left: auto;
    margin-right: auto;
    height: 276px;
    width:276px;
  }

  .slide-topic-img {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: auto;
  }

  .slide-topic-info {
    padding-top: 32px;
    padding-bottom: 14px;
    text-align: center;
  }

  .slide-topic-name {
    font-size: 14px;
    text-wrap: nowrap;
    font-weight: 500;
    line-height: 1.29;
    text-transform: uppercase;
    color: var(--color-card-hero-text);
  }

  .slide-topic-area {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    color: rgb(248, 248, 248, 20%);
  }

  .slide-dish {
    width: 351px;
    height: 442px;
  }

  .slide-dish-img {
    height: 442px;
    object-position: 15%;
    overflow: hidden;
    object-fit: cover;
  }
}

/* .hero-swiper-pagination {
  background-color: tomato;
  height: 22px;
} */

/* @media only screen and (min-width: 768px) {
  .hero-swipper-pagination {
    height: 26px;
  }
} */

/* .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: var(--color-swiper-pagination-bcg);
} */

/* .swiper-pagination-bullet-active {
  background: var(--color-menu-mobile-bcg);
} */
