.section-hero {
  background-color: var(--color-page-bcg);
  padding-top: 92px;
  padding-bottom: 80px;
  
}

@media only screen and (min-width: 768px) {
  .section-hero{
    display: flex;
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.hero-block-text-title {
  margin-bottom: 14px;
  color: var(--color-title-text);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 31px;
  
}

@media only screen and (min-width: 376px) {
  .hero-block-text-title {
    margin-bottom: 16px;
  }
} 


.hero-block-text {
  margin-bottom: 28px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-title-text);
  line-height: 24px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
}

@media only screen and (min-width: 376px) {
  .hero-block-text {
    margin-bottom: 32px;
  }
}

.hero-words {
  color: var(--color-green-title-text);
  font-style: italic;
  font-family: Inter;
  font-size: 26px;
  font-weight: 400;
  
}

.hero-btn {
  padding: 10px 20px;
  border-radius: 12px;
}

/* slider styles  */
.swiper {
  position: relative;
  width: 100%;
  height: 304px;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0.4); 
}

.swiper-pagination-bullet-active {
  background: var(--color-menu-mobile-bcg); 
}

.hero-event {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  overflow: hidden;
}

.hero-block-cook {
  width: 80px;
  height: 280px;
}

.hero-block-cook-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.hero-block-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 280px;
  background-color: var(--color-element-bcg);
  border-radius: 15px;
}

.hero-block-event-img {
  margin-bottom: 20px;
  width: auto;
  height: auto;
  border-radius: 15px;
  text-align: center;
}

.hero-block-event-title {
  display: block;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;

  color: rgb(248, 248, 248, 60%);
}

.hero-block-meal {
  width: 185px;
  height: 280px;
  background-color: var(--color-element-bcg);
  border-radius: 15px;
}

.hero-block-meal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.hero-block-event-text {
  display: block;
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;

  color: rgb(248, 248, 248, 20%);
}
