.hero-container {
  padding: 65px 20px 40px 20px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
 align-items: center;
 justify-content: center;
}

.hero-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media only screen and (min-width: 540px)  and (max-width: 767px) {
  .hero-content {
    max-width: 540px;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 768px) {
  .hero-container {
    padding: 61px 32px 40px 32px;
  }

  .hero-content {
    gap: 64px;
  }
}

@media only screen and (min-width: 871px) and (max-width: 1279px) {
  .hero-content {
    max-width: 871px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-container {
    padding: 80px 100px 50px 100px;
    flex-direction: row;
  }

  .hero-content {
    flex-direction: row;
    gap: 32px;
    justify-content: flex-start;
    }
}

@media only screen and (min-width: 1550px) {
  .hero-content {
    justify-content: space-evenly;
    }
}


.hero-information {
  width: 335px;
}

@media only screen and (min-width: 768px) {
  .hero-information {
    min-width: 446px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-information {
    padding-top: 64px;
  }
}

.hero-text {
  margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
  .hero-text {
    margin-bottom: 32px;
  }
}

.hero-title {
  margin-bottom: 14px;

  font-size: 26px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-title-text);
}

@media only screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 16px;
    font-size: 36px;
  }
}

.hero-accent {
  font-size: 26px;
  font-style: italic;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-green-title-text);
}

@media only screen and (min-width: 768px) {
  .hero-accent {
    font-size: 36px;
  }
}

.hero-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: var(--color-title-text);
}

@media only screen and (min-width: 768px) {
  .hero-description {
    width: 408px;
    font-size: 16px;
    line-height: 1.33;
  }
}

.hero-btn {
  padding: 10px 20px;
  border-radius: 12px;
  transition: color var(--transition-dur-func),
    background-color var(--transition-dur-func);
}

@media only screen and (min-width: 768px) {
  .hero-btn {
    padding: 14px 28px;
    border-radius: 15px;
  }
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--color-card-text);
  background-color: var(--color-hover-bcg);
}
