.modal-recipe {
  background-color: rgba(255, 255, 255, 1);

  width: 335px;

  position: absolute;
  top: 1025%;
  left: 50%;
  transform: translate(-50%, 0);

  border-radius: 15px;
}

.modal-recipe-close {
  position: absolute;
  top: 14px;
  left: 301px;
}

.modal-recipe-video {
  margin: 40px 20px 0;
  flex-shrink: 0;

  border-radius: 8px;
  background: linear-gradient(
      0deg,
      rgba(5, 5, 5, 0.4) 0%,
      rgba(5, 5, 5, 0.4) 100%
    ),
    url('../../img/sprite.svg#icon-youtube'), lightgray 50% / cover no-repeat;
}

.modal-recipe-title {
  color: var(--color-title-text);

  margin: 20px 20px 14px;

  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
}

.modal-recipe-rating {
  color: var(--color-modal-recipe-rating-text);

  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;

  margin: 20px 0 33px 20px;
}

.modal-recipe-ingredients {
}

.modal-recipe-ing-item {
  color: var(--color-title-text);

  display: flex;
  margin: 0 20px 22px;
  justify-content: space-between;
}

.modal-recipe-ing-name {
  position: relative;
}

.modal-recipe-ing-measure {
  color: var(--color-modal-recipe-rating-text);
}

.modal-recipe-ing-name::after {
  content: '';

  position: absolute;
  top: 26px;
  left: 0;

  display: block;
  width: 295px;
  height: 1px;

  background-color: var(--color-modal-recipe-placeholder);
}

.modal-recipe-tags {
  color: var(--color-title-text);

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  margin: 48px 20px 0 20px;

  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
}

.modal-recipe-tags-item {
  padding: 8px 16px;
  align-items: center;
  border-radius: 35px;
  border: 1px solid var(--color-modal-recipe-tags-border);
}

.modal-recipe-text {
  color: var(--color-modal-recipe-text);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.28;

  width: 295px;
  margin: 24px 20px 0;
}

.modal-recipe-favorite-btn {
  margin: 40px 20px;
}

.js-modal-recipe-close {
  background-color: transparent;
}
