/*--------------Back drop---------*/
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    z-index: 10;
    background: rgb(173, 168, 168);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: scale(0.5);
}

/*-----------------modal------------*/
.buy {
        padding: 14px 162px;
            border-radius: 15px;
            background: #9BB537;
            border: none;
            position: absolute;
            top: 0;
            left: 0;
}
.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 440px;
    gap: 40px;

    padding: 40px 40px;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05),
        0px 0px 130.6px rgba(0, 0, 0, 0.037963),
        0px 0px 71.0296px rgba(0, 0, 0, 0.0303704),
        0px 0px 36.2375px rgba(0, 0, 0, 0.025),
        0px 0px 18.1704px rgba(0, 0, 0, 0.0196296),
        0px 0px 8.77546px rgba(0, 0, 0, 0.012037);

    transform: translate(-50%, -50%) scale(1);
}

/*----------------------Кнопка закриття---------*/
/* .icon-close {
    width: 24px;
    height: 24px;
} */

.btn-modal-close {
    position: absolute;
    top: 16px;
    right: 16px;    
    border: none;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-modal-close:hover {
    width: 35px;
    transition: 0.5s;
}

/*-----------------Форма для заповнення------------*/


.callback-form-inputs {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.modal-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label-title {
    font-size: 14px;
    line-height: 18px;
    /* letter-spacing: -0.02em; */
}

.modal-input {
    display: flex;
    width: 360px;
    height: 48px;
    padding: 14px 169px 14px 18px;
    align-items: flex-start;
    gap: 32px;

    border-radius: 15px;
    border: 1px solid rgba(5, 5, 5, 0.20);
}

/*-----------Перевірка вводу на коректність--------*/
/* .modal-input:focus:invalid {
    border-color: red;
}

.modal-input:focus:valid {
    border-color: green;
} */

/*----------------------Коментар------------*/
.form-comment {
    /* font-family: inherit;
    padding: 12px 16px;
    width: 100%;
    height: 170px;

    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;

    outline: none;
    resize: none;
    border: 1px solid var(--text-gray-color);
    border-radius: 8px; */
  
    height: 100px;
}

/*--------------------------Кнопка замовлення--------*/
.send-btn {
    padding: 14px 162px;
    border-radius: 15px;
    background: #9BB537;
    border: none;
}

.send-btn:hover {
    color: #FFF;
    transition: 0.5s;
}

.order {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/*----------------------інформація про згоду-------*/
.info-text {
    font-size: 9px;
    line-height: 1.17;
    letter-spacing: -0.02em;

    color: var(--numeral-gray-color);
}

.link-license {
    text-decoration: underline;
}


/* @media screen and (min-width: 375px) and (max-width: 767px) { */
@media screen and (max-width: 767px) {
    .modal {
        width: 335px;
        overflow: auto;
        max-height: 1073px;
    }

    .model-card {
        width: 276px;
    }

    .model-card>.model-info>.model {
        margin-top: 39px;
        margin-bottom: 4px;
    }

    .model-card>.model-info>.price {
        margin-top: 4px;
    }
}

/*-----------------планшетна версія------------------*/
/* @media screen and (min-width: 768px) {
    .modal {
        padding: 40px;
        width: 744px;
        overflow: auto;
        max-height: 670px;

        flex-direction: row;
        gap: 20px;
    }

    #productsList {}

    .model-card {
        width: 276px;
    }

    .model-card>.model-info>.model {
        margin-top: 39px;
        margin-bottom: 4px;
    }

    .model-card>.model-info>.price {
        margin-top: 4px;
    }

    .icon-close {
        width: 12px;
        height: 12px;
    }

    .btn-modal-close {
        top: 20px;
        right: 20px;
        width: 24px;
        height: 24px;
    }

    .label-title {
        font-size: 14px;
        line-height: 1.29;
    }

    .modal-input {
        font-size: 16px;
        line-height: 1.12;
    }
}

@media screen and (min-width: 1440px) {
    .modal {
        flex-direction: row;
        width: 904px;
        min-height: 694px;

        gap: 40px;
    }

    .callback-form {
        gap: 40px;
    }

    .callback-form-inputs {
        gap: 24px;
    }

    .info-text {
        width: 391px;
    }
}


 */
