.popular-container {
  padding-top: 20px;
  height: 242px;
}

.popular-section-title {
  text-transform: uppercase;
  color: var(--color-title-text);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
  margin-bottom: 20px;
}

.popular-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.popular-item {
  height: 64px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popular-item:nth-child(n + 3) {
    display: none;
  }
}

.popular-image {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  margin-right: 16px;
}

.popular-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.popular-recipe-name {
  color: var(--color-title-text);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.popular-text:hover .popular-recipe-name {
  color: var(--color-green-title-text);
}

.popular-recipe {
  color: var(--color-poprecipe-text);
  font-size: 12px;
  line-height: 1.33;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

  padding-right: 10px;
  white-space: normal;
}

@media only screen and (min-width: 768px) {
  .popular-container {
    min-height: 404px;
    padding-top: 32px;
  }

  .popular-section-title {
    margin-bottom: 32px;
    line-height: 1.33;
  }

  .popular-list {
    gap: 16px;
  }

  .popular-item {
    height: 67px;
  }

  .popular-image {
    width: 48px;
    height: 48px;
  }

  .popular-recipe-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
  }

  .popular-recipe {
    font-size: 10px;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

@media only screen and (min-width: 1280px) {
  .popular-container {
    min-height: 456px;
  }

  .popular-section-title {
    font-size: 24px;
    font-style: normal;
    line-height: 1.16;
  }

  .popular-list {
    gap: 32px;
  }

  .popular-image {
    width: 64px;
    height: 64px;
  }
}
