.popular-container {
  padding: 40px 20px 0 20px;
  height: 242px;
  overflow: hidden;
  white-space: nowrap;
}

.popular-section-title {
  text-transform: uppercase;
  color: var(--color-title-text);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
  margin-bottom: 20px;
}

.popular-lists {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.popular-list-style {
  display: flex;
  flex-direction: row;
}

.popular-image {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}

.popular-text {
  height: 64px;
  margin-left: 16px;
}

.popular-recipe-name {
  color: var(--color-title-text);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.popular-recipe {
  color: rgba(5, 5, 5, 0.8);
  font-size: 12px;
  line-height: 1.33;
  width: 255px;
  height: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

@media only screen and (min-width: 768px) {
  .popular-container {
    padding: 64px 0 0 0;
    width: 176px;
    height: 436px;
  }

  .popular-lists {
    gap: 16px;
  }

  .popular-text {
    height: 67px;
    width: 120px;
  }

  .popular-section-title {
    margin-bottom: 32px;
    line-height: 1.33;
  }

  .popular-recipe-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
  }

  .popular-recipe {
    font-size: 10px;
    line-height: 1.4;
    width: 120px;
    height: 41px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .popular-image {
    width: 48px;
    height: 48px;
  }
}

@media only screen and (min-width: 1200px) {
  .popular-container {
    width: 235px;
    height: 514px;
  }

  .popular-section-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16;
  }

  .popular-lists {
    gap: 32px;
  }

  .popular-image {
    width: 64px;
    height: 64px;
  }

  .popular-text {
    height: 64px;
    width: 155px;
  }

  .popular-recipe {
    width: 155px;
  }
}
