root {
  /* Card Set */
  --items: 1;
  --indent-column: 0;
  --indent-row: 24px;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: var(--indent-column);
  row-gap: var(--indent-row);
}

.recipe-list-item {
  box-sizing: border-box;
  flex-basis: calc(
    (100% - var(--indent-column) * (var(--items) - 1)) / var(--items)
  );
}

.recipe-card img {
  max-width: auto;
  height: 100%;
  object-fit: cover;
}

.recipe-container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .recipe-container {
    max-width: 560px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .recipe-container {
    max-width: 910px;
    padding-right: 64px;
    padding-left: 64px;
  }
}

.recipe-list {
  --items: 1;
  --indent-column: 0;
  --indent-row: 24px;
}
@media only screen and (min-width: 768px) {
  .recipe-list {
    --items: 2;
    --indent-column: 16px;
    --indent-row: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .recipe-list {
    --items: 3;
    --indent-column: 16px;
    --indent-row: 32px;
  }
}

.recipe-card {
  width: 335px;
  height: 335px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .recipe-card {
    width: 240px;
    height: 264px;
  }
}

@media only screen and (min-width: 1200px) {
  .recipe-card {
    width: 250px;
    height: 287px;
  }
}

.recipe-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  background: linear-gradient(rgba(5, 5, 5, 0), rgba(5, 5, 5, 0.6));

  color: var(--color-card-text);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.recipe-title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
}

.recipe-description {
  margin-bottom: 16px;
  height: 32px;
  font-size: 12px;
  line-height: 1.33;

  /* ... в 2рядковому тексті */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipe-rating-btn-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-rating {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

.recipe-card-btn {
  padding: 8px 14px;
  color: var(--color-card-text);
  background-color: var(--color-button-card-bcg);

  font-size: 12px;
  font-weight: 500;

  border-radius: 8px;
  border: none;
  transition: color var(--transition-dur-func);
}

.recipe-card-btn:hover,
.recipe-card-btn:focus {
  color: var(--color-hover-text);
}

.recipe-heart-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.recipe-heart-icon {
  fill: rgba(248, 248, 248, 0);
  stroke: rgba(248, 248, 248, 0.9);
  stroke-width: 2;
  transition: fill var(--transition-dur-func);
}

.recipe-heart-button:hover .recipe-heart-icon {
  fill: rgba(248, 248, 248, 0.9);
}
