root {
  /* Card Set */
  --items: 1;
  --indent-column: 0;
  --indent-row: 24px;
}

.recipes {
  /* outline: 1px solid red; */
  min-width: 320px;
  padding-top: 20px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .recipes {
    width: 512px;
    padding-left: 16px;
    padding-top: 27px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .recipes {
    width: 814px;
    padding-top: 37px;
    padding-left: 32px;
  }
}

.filters-container {
  /* outline: 1px solid blue; */
  padding-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .filters-container {
    padding-bottom: 7px;
  }
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.search-container {
  width: 100%;
  display: block;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .search-container {
    width: 278px;
  }
}

label[for='recipe-input'],
label[for='select-time'],
label[for='select-area'],
label[for='select-ingredients'] {
  height: 46px;
  display: block;
  font-size: 12px;
  color: var(--color-selector-text);
  font-style: normal;
  font-weight: 500;
  line-height: calc(14 / 12);
  margin-bottom: 8px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.search-icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.search-recipe {
  padding-left: 48px; /* 18px (ширина іконки) + 12px (відступ) */
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;

  display: flex;
  align-items: flex-start;
  border-radius: 15px;
  border: 1px solid var(--color-selector-categ);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(14 / 18);
  color: var(--color-selector-text);
  background-color: inherit;
}

.search-icon {
  fill: var(--color-selector-text);
}

.select-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.time-select,
.area-select,
.ingredient-select {
  margin-top: 8px;
  width: 160px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  align-items: flex-start;
  border-radius: 15px;
  border: 1px solid var(--color-selector-categ);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(14 / 18);
  color: var(--color-selector-text);
  background-color: inherit;
}

.ingredient-select {
  margin-bottom: 6px;
  width: 188px;
}

.reset-btn-container {
  /* outline: 1px solid tomato; */
}
.x-icon {
  fill: var(--color-green-title-text);
}

.reset-filters-btn {
  display: flex;
  margin-left: auto;
  padding-right: 0;
  font-size: 12px;
  line-height: calc(16 / 12);
  background-color: inherit;
  color: var(--color-selector-text);
  border: none;
}

.recipe-container {
  padding-top: 10px;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .recipe-list {
    gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .recipe-list {
    row-gap: 20px;
  }
}

.recipe-list-item {
  box-sizing: border-box;
  flex-basis: calc(
    (100% - var(--indent-column) * (var(--items) - 1)) / var(--items)
  );
}

.recipe-card img {
  max-width: auto;
  height: 100%;
  object-fit: cover;
}

.recipe-list {
  --items: 1;
  --indent-column: 0;
  --indent-row: 24px;
}
@media only screen and (min-width: 768px) {
  .recipe-list {
    --items: 2;
    --indent-column: 16px;
    --indent-row: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .recipe-list {
    --items: 3;
    --indent-column: 16px;
    --indent-row: 32px;
  }
}

.recipe-card {
  width: 335px;
  height: 335px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .recipe-card {
    width: 240px;
    height: 264px;
  }
}

@media only screen and (min-width: 1200px) {
  .recipe-card {
    width: 250px;
    height: 287px;
  }
}

.recipe-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  background: linear-gradient(rgba(5, 5, 5, 0), rgba(5, 5, 5, 0.6));

  color: var(--color-card-text);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.recipe-title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
}

.recipe-description {
  margin-bottom: 16px;
  height: 32px;
  font-size: 12px;
  line-height: 1.33;

  /* ... в 2рядковому тексті */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipe-rating-btn-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-rating {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

.recipe-card-btn {
  padding: 8px 14px;
  color: var(--color-card-text);
  background-color: var(--color-button-card-bcg);

  font-size: 12px;
  font-weight: 500;

  border-radius: 8px;
  border: none;
  transition: color var(--transition-dur-func);
}

.recipe-card-btn:hover,
.recipe-card-btn:focus {
  color: var(--color-hover-text);
}

.recipe-heart-label {
  position: absolute;
  z-index: 2;

  top: 16px;
  right: 16px;
  display: inline-block;
}

.recipe-heart-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.recipe-heart-icon {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.6));
}

.recipe-heart-icon path {
  fill: rgba(248, 248, 248, 0);
  stroke: rgb(248, 248, 248);
  stroke-width: 2;
  transition: fill var(--transition-dur-func);
}

.recipe-heart-checkbox:checked + .recipe-heart-icon path {
  fill: rgb(248, 248, 248);
}
