root {
  /* Card Set */
  --items: 1;
  --indent-column: 0;
  --indent-row: 24px;
}

.recipes-section {
  min-width: 335px;
  padding-top: 20px;
}

@media only screen and (min-width: 768px) {
  .recipes-section {
    width: 512px;
    padding-left: 16px;
    padding-top: 27px;
  }
}

@media only screen and (min-width: 1200px) {
  .recipes-section {
    width: 846px;
    padding-top: 37px;
    padding-left: 32px;
  }
}

.form-container {
  min-width: 335px;
  padding-bottom: 3px;
}

@media only screen and (min-width: 1200px) {
  .form-container {
    width: 100%;
  }
}

.form-filters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  padding-bottom: 7px;
}

@media only screen and (min-width: 768px) {
  .form-filters {
    gap: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .form-filters {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

/* ================================================== */

.search-wrapper {
  position: relative;
  width: 100%;
  height: 68px;
  display: block;
  align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  .search-wrapper {
    width: 278px;
    height: 74px;
  }
}

.select-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 68px;
}

@media only screen and (min-width: 768px) {
  .select-wrapper {
    height: 74px;
  }
}

.time-wrapper {
  width: 160px;
}

.area-wrapper {
  width: 159px;
}

.ingredient-wrapper {
  min-width: 188px;
}

@media only screen and (min-width: 768px) {
  .time-wrapper {
    width: 125px;
  }

  .area-wrapper {
    width: 141px;
  }
}

.search-label,
.select-label {
  display: block;
  width: 100%;
  height: 22px;
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: var(--color-selector-text);
}

@media only screen and (min-width: 768px) {
  .search-label,
  .select-label {
    height: 26px;
    font-size: 14px;
    line-height: 18px;
  }
}

/* ====================================== */

.search-recipe,
.time-select,
.area-select,
.ingredient-select {
  width: 100%;
  min-height: 46px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 10px;

  border-radius: 15px;
  border: 1px solid var(--color-selector-categ);

  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 500;

  outline: 1px solid transparent;

  color: var(--color-selector-text);
  background-color: inherit;
  transition: outline var(--transition-dur-func);
}

.time-select {
  max-height: 170px;
}

.search-recipe:hover,
.time-select:hover,
.area-select:hover,
.ingredient-select:hover {
  color: var(--color-element-bcg);
  outline: 1px solid var(--color-hover-bcg);
  border-radius: 15px;
  box-shadow: none;
}

.time-select:focus,
.area-select:focus,
.ingredient-select:focus {
  box-shadow: none;
}

.ss-content {
  background-color: var(--color-select-open-bcg);
}

.ss-main.ss-open-below,
.ss-main.ss-open-above {
  border-radius: 15px;
}

.ss-content.ss-open-below,
.ss-content.ss-open-above {
  border-radius: 15px;
}

.ss-content .ss-list .ss-option {
  color: var(--color-selector-categ-text);
  transition: color var(--transition-dur-func);
}

.ss-content .ss-search input:focus {
  box-shadow: none;
  fill: var(--color-selector-categ-text);
}

.ss-content .ss-list .ss-option:hover,
.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  color: var(--color-title-text);
  background-color: var(--color-select-open-bcg);
}

.area-select,
.ingredient-select {
  max-height: 222px;
}

@media only screen and (min-width: 768px) {
  .search-recipe,
  .time-select,
  .area-select,
  .ingredient-select {
    min-height: 48px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .time-select {
    max-height: 176px;
  }

  .area-select,
  .ingredient-select {
    max-height: 236px;
  }
}

.search-recipe {
  padding-left: 48px;
}

.search-icon {
  position: absolute;
  left: 18px;
  top: 53%;
  z-index: 2;
  fill: var(--color-selector-text);
  transition: color var(--transition-dur-func);
}

.search-icon-active {
  fill: var(--color-hover-bcg);
}

@media only screen and (min-width: 768px) {
  .search-icon {
    top: 56%;
  }
}

.reset-search-btn {
  padding: 13px 8px 8px 8px;
  position: absolute;
  right: 8px;
  top: 34%;
  z-index: 2;
  fill: var(--color-title-text);
  transition: fill var(--transition-dur-func);
}

@media only screen and (min-width: 768px) {
  .reset-search-btn {
    top: 40%;
  }
}

.reset-search-btn:hover {
  cursor: pointer;
  fill: var(--color-hover-bcg);
}

.reset-filters-btn {
  padding: 7px 0 7px;
  display: flex;
  margin-left: auto;
  padding-right: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  background-color: inherit;
  color: var(--color-selector-text);
  border: none;
  transition: color var(--transition-dur-func);
}

.reset-filters-btn:hover {
  color: var(--color-green-title-text);
}

.reset-filters-icon {
  fill: var(--color-green-title-text);
  margin-right: 4px;
}

/* =============   RECIPES    ================= */

.recipe-container {
  padding-top: 10px;
}

@media only screen and (min-width: 768px) {
  .recipe-container {
    padding-top: 7px;
  }
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .recipe-list {
    gap: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .recipe-list {
    row-gap: 20px;
  }
}

.recipe-list-item {
  box-sizing: border-box;
  flex-basis: calc(
    (100% - var(--indent-column) * (var(--items) - 1)) / var(--items)
  );
}

.recipe-card img {
  max-width: auto;
  height: 100%;
  object-fit: cover;
}

.recipe-list {
  --items: 1;
  --indent-column: 0;
  --indent-row: 24px;
}
@media only screen and (min-width: 768px) {
  .recipe-list {
    --items: 2;
    --indent-column: 16px;
    --indent-row: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .recipe-list {
    --items: 3;
    --indent-column: 16px;
    --indent-row: 32px;
  }
}

.recipe-card {
  width: 335px;
  height: 335px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .recipe-card {
    width: 240px;
    height: 264px;
  }
}

@media only screen and (min-width: 1200px) {
  .recipe-card {
    width: 250px;
    height: 287px;
  }
}

.recipe-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  background: linear-gradient(rgba(5, 5, 5, 0), rgba(5, 5, 5, 0.6));

  color: var(--color-card-text);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.recipe-title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
}

.recipe-description {
  margin-bottom: 16px;
  height: 32px;
  font-size: 12px;
  line-height: 1.33;

  /* ... в 2рядковому тексті */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipe-rating-btn-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-rating {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

.recipe-card-btn {
  padding: 8px 14px;
  color: var(--color-card-text);
  background-color: var(--color-button-card-bcg);

  font-size: 12px;
  font-weight: 500;

  border-radius: 8px;
  border: none;
  transition: color var(--transition-dur-func);
}

.recipe-card-btn:hover,
.recipe-card-btn:focus {
  color: var(--color-hover-text);
}

.recipe-heart-label {
  position: absolute;
  z-index: 2;

  top: 16px;
  right: 16px;
  display: inline-block;
}

.recipe-heart-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.recipe-heart-icon {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.6));
}

.recipe-heart-icon path {
  fill: rgba(248, 248, 248, 0);
  stroke: rgb(248, 248, 248);
  stroke-width: 2;
  transition: fill var(--transition-dur-func);
}

.recipe-heart-checkbox:checked + .recipe-heart-icon path {
  fill: rgb(248, 248, 248);
}

/* =========== NO RECIPES ================= */

/* no-recipes-container
no-recipes-logo
no-recipes-text */

.no-recipes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 335px;
}

.no-recipes-logo {
  display: block;
  margin-bottom: 24px;
}

.no-recipes-text {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

@media only screen and (min-width: 768px) {
  .no-recipes-logo {
    width: 97px;
    height: 83px;
  }

  .no-recipes-text {
    font-size: 16px;
    line-height: 24px;
  }
}
