.section-main {
  padding-top: 40px;
}

@media only screen and (min-width: 768px) {
  .section-main {
    display: flex;
  }

  .section-main-content {
    width: 512px;
    padding-left: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .section-main {
    padding-top: 50px;
  }

  .section-main-content {
    width: 814px;
    padding-left: 32px;
  }
}
