.section-main {
  margin: 0 auto;
}

.main-container {
  min-width: 320px;
  max-width: 375px;
  padding: 40px 20px 60px 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .main-container {
    display: flex;
    min-width: 768px;
    padding: 40px 32px 60px 32px;
  }

  .section-main-content {
    width: 512px;
    padding-left: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .main-container {
    min-width: 1280px;
    padding: 50px 100px 60px 100px;
  }

  .section-main-content {
    width: 814px;
    padding-left: 32px;
  }
}
