.sidebar {
  width: 335px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .sidebar {
    width: 192px;
    padding-top: 26px;
    padding-right: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .sidebar {
    min-width: 267px;
    padding-right: 32px;
  }
}
